<template>
    <div class="d-flex justify-content-around">

        <b-table :items="reservations" :fields="fields" striped>

            <template v-slot:cell(Oeuvre)="row">
                {{ `${row.item.oeuvre.type} : ${row.item.oeuvre.titre}` }}
            </template>
            <template v-slot:cell(Usager)="row">
                {{ `${row.item.usager.prenom} ${row.item.usager.nom} ` }}
            </template>

            <template v-slot:cell(Actions)="row">
                <b-button variant="outline-danger" @click="destroy(row.item.id)">Annuler</b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Axios from "axios";

    export default {
        name: "reservations-list",

        props: ["uri"],

        data() {
            return {
                reservations: [],
                fields: ['Oeuvre', 'Usager', 'Actions'],
                errors: []
            };
        },

        created() {
            this.$root.$on("reservations-list-updated", this.pull);
            this.pull();
        },

        methods: {
            pull() {
                Axios.get(this.$parent.endpoint)
                    .then(response => (this.reservations = response.data))
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Impossible d'accèder aux informations: ${e.response.data}`)
                    });
            },

            destroy(id) {
                Axios.delete(`${this.$parent.endpoint}/${id}`)
                    .then(() => {
                        this.flashSuccess('Reservation annulée !');
                        this.pull();
                    })
                    .catch((e) => {
                        this.flashError(`Erreur lors de l'annulation: ${e.response.data}`)
                        this.errors.push(e)
                    });
            }
        }
    };
</script>