<template>
  <div class="container-fluid">
    <b-button v-b-modal.reservations-add-modal variant="primary">
      Créer une nouvelle reservation
      <i class="fas fa-user-plus ml-1"></i>
    </b-button>

    <b-modal
            id="reservations-add-modal"
            title="Créer une réservation"
            ok-title="Enregistrer"
            ok-variant="success"
            cancel-title="Annuler"
            @ok="create"
    >
      <reservations-form :form="form" :oeuvres="oeuvres" :usagers="usagers" ref="reservationsForm" />
    </b-modal>
  </div>
</template>

<script>
  import Axios from "axios";
  import ReservationsForm from "./ReservationsForm";

  export default {
    name: "reservations-create",
    components: { ReservationsForm },

    data() {
      return {
        errors: [],
        form: { idOeuvre: "", idUsager: "" },
        usagers: [],
        oeuvres: []
      };
    },
    mounted(){
      this.getUsagers();
      this.getOeuvres();
    },
    methods: {
      getUsagers() {
        Axios.get(this.$parent.usagersEndpoint)
                .then(response => {
                  response.data.forEach(usager => {

                    this.usagers.push({
                      value: usager.id,
                      text: `${usager.prenom} ${usager.nom}`
                    })
                  })
                })
                .catch(e => this.errors.push(e));
      },
      getOeuvres() {
        Axios.get(this.$parent.oeuvresEndpoint)
                .then(response => {
                  response.data.forEach(oeuvre => {
                    let text = "";
                    if ('numero' in oeuvre){
                      text = `Magazine : N°${oeuvre.numero} ${oeuvre.titre}`;
                    } else {
                      text = `Livre : ${oeuvre.titre}`;
                    }

                    this.oeuvres.push({
                      value: oeuvre.id,
                      text: text
                    })
                  })
                })
                .catch(e => this.errors.push(e));
      },
      create(event) {
        event.preventDefault();

        if (!this.$refs["reservationsForm"].validated) {
          return;
        }

        Axios.post(this.$parent.endpoint, this.form)
                .then(() => {
                  this.flashSuccess('Réservation enregistrée !');
                  this.$bvModal.hide("reservations-add-modal");
                  this.$root.$emit("reservations-list-updated");
                })
                .catch((e) => {
                  this.flashError(`Erreur lors de l'enregistrement de la réservation: ${e.response.data}`)
                  this.errors.push(e)
                });
      }
    }
  };
</script>