<template>
  <b-form>
    <flash-message transitionName="flash" class="flashpool"></flash-message>
    <!-- Oeuvre -->
    <b-form-group label="Oeuvre :" label-for="oeuvres">
      <b-form-select
              id="idOeuvre"
              :options="oeuvres"
              required
              v-model="form.idOeuvre"
      >
      </b-form-select>
    </b-form-group>

    <!-- Usager -->
    <b-form-group label="Usager :" label-for="oeuvres">
      <b-form-select
              id="idUsager"
              :options="usagers"
              required
              v-model="form.idUsager"
      >
      </b-form-select>
    </b-form-group>
  </b-form>
</template>

<script>

  export default {
    name: "reservations-form",
    props: {
      form: Object,
      errors: [],
      oeuvres: {},
      usagers: {}
    },

    computed: {
      validated() {
        return true;
      }
    }
  };
</script>