<template>
    <div>
        <reservations-create />
        <hr />
        <reservations-list />
    </div>
</template>

<script>
import ReservationsList from "./ReservationsList";
import ReservationsCreate from "./ReservationsCreate";

const host = process.env.VUE_APP_API_HOST;
const port = process.env.VUE_APP_API_PORT;

export default {
    data() {
        return {
            endpoint: `${host}:${port}/reservations`,
            usagersEndpoint: `${host}:${port}/usagers`,
            oeuvresEndpoint: `${host}:${port}/oeuvres`
        };
    },
    components: {
        ReservationsCreate,
        ReservationsList
    }
};
</script>