<template>
    <div class="container-fluid">
        <b-button v-b-modal.magazine-add-modal variant="primary">
            Créer un nouveau magazine
            <i class="fas fa-newspaper ml-1"></i>
        </b-button>

        <b-modal
                id="magazine-add-modal"
                title="Créer un magazine"
                ok-title="Enregistrer"
                ok-variant="success"
                cancel-title="Annuler"
                @ok="create"
        >
            <magazines-form :form="form" ref="magazinesFrom" />
        </b-modal>
    </div>
</template>

<script>
    import Axios from "axios";
    import MagazinesForm from "./MagazinesForm";

    export default {
        name: "magazines-create",
        components: { MagazinesForm },

        data() {
            return {
                errors: [],
                form: { type: "Magazine", titre: "", numero: ""}
            };
        },

        methods: {
            create(event) {
                event.preventDefault();

                if (!this.$refs["magazinesFrom"].validated) {
                    return;
                }

                Axios.post(this.$parent.endpoint, this.form)
                    .then(() => {
                        this.flashSuccess('Magazine ajouté !');
                        this.$bvModal.hide("magazines-add-modal");
                        this.$root.$emit("oeuvres-list-updated");
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de l'enregistrement du magazine: ${e.response.data}`)
                    });
            }
        }
    };
</script>

<style scoped>

</style>