<template>
    <b-form>
        <flash-message transitionName="flash" class="flashpool"></flash-message>
        <!-- Nom -->
        <b-form-group label="Titre :" label-for="titre">
            <b-form-input
                    id="titre"
                    v-model="form.titre"
                    required
                    placeholder="Exemple : Magazine"
                    :state="titreValidation"
            ></b-form-input>
        </b-form-group>

        <!-- Numero -->
        <b-form-group label="Numéro :" label-for="numero">
            <b-form-input
                    id="numero"
                    v-model="form.numero"
                    required
                    placeholder="Exemple : 1"
                    :state="numeroValidation"
            ></b-form-input>
        </b-form-group>
    </b-form>
</template>

<script>
    const stringPattern = /(-?([a-zA-Z].\s)?([a-zA-Z][a-z]+)\s?)+([a-zA-Z]'([a-zA-Z][a-z]+))?/;
    const intPattern = /([0-9]+)/;

    export default {
        name: "magazines-form",
        props: {
            form: Object
        },

        computed: {
            titreValidation() {
                return stringPattern.test(this.form.titre);
            },
            numeroValidation() {
                return intPattern.test(this.form.numero);
            },
            validated() {
                return (
                    this.titreValidation &&
                    this.numeroValidation
                );
            }
        }
    };
</script>