<template>
  <div class="container-fluid">
    <b-modal
      id="magazines-edit-modal"
      title="Modifier un magazine"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="update"
    >
      <magazines-form :form="form" ref="magazinesForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import MagazinesForm from "./MagazinesForm";

export default {
  name: "magazines-edit",
  components: { MagazinesForm },

  data() {
    return {
      errors: [],
      form: {},
      oeuvreId: ""
    };
  },

  created() {
    this.$root.$on("oeuvres-on-edit", this.show);
  },

  methods: {
    show(data) {
      if (data.type === "Magazine"){
        this.form = data;
        this.$bvModal.show("magazines-edit-modal");
      }
    },

    update(event) {
      event.preventDefault();

      if (!this.$refs["magazinesForm"].validated) {
        return;
      }

      Axios.put(`${this.$parent.endpoint}/${this.form.id}`, this.form)
        .then(() => {
          this.flashInfo('Magazine modifié !');
          this.$bvModal.hide("magazines-edit-modal");
          this.$root.$emit("oeuvres-list-updated");
        })
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Erreur lors de la modification du magazine: ${e.response.data}`)
        });
    }
  }
};
</script>