<template>
  <div>
    <usagers-create />
    <hr />
    <usagers-list />
    <usagers-edit />
  </div>
</template>

<script>
import UsagersCreate from "./UsagersCreate";
import UsagersEdit from "./UsagersEdit";
import UsagersList from "./UsagersList";

const host = process.env.VUE_APP_API_HOST;
const port = process.env.VUE_APP_API_PORT;


export default {
  data() {
    return {
      endpoint: `${host}:${port}/usagers`
    };
  },
  components: {
    UsagersCreate,
    UsagersEdit,
    UsagersList
  }
};
</script>