<template>
  <div class="container-fluid">
    <b-modal
      id="usagers-edit-modal"
      title="Modifier un usager"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="update"
    >
      <usagers-form :form="form" :email-available="emailAvailable" ref="usagersForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import UsagersForm from "./UsagersForm";

export default {
  name: "usagers-edit",
  components: { UsagersForm },

  data() {
    return {
      errors: [],
      form: {},
      emailAvailable: true,
      usagerId: ""
    };
  },

  created() {
    this.$root.$on("usagers-on-edit", this.show);
  },

  methods: {
    show(data) {
      this.form = data;
      this.usagerId = data.id
      this.$bvModal.show("usagers-edit-modal");
    },

    update(event) {
      event.preventDefault();

      if (!this.$refs["usagersForm"].validated) {
        return;
      }

      Axios.put(`${this.$parent.endpoint}/${this.usagerId}`, this.form)
        .then(() => {
          this.flashInfo('Usager modifié !');
          this.$bvModal.hide("usagers-edit-modal");
          this.$root.$emit("usagers-list-updated");
        })
        .catch((e) => {
          if (e.response.status === 409) {
            this.emailAvailable = false;
            this.flashError('Email non disponible !');
          }
          this.errors.push(e);
          this.flashError(`Erreur lors de la modification de l'usager: ${e.response.data}`)
        });
    }
  }
};
</script>