<template>
  <b-form>
    <flash-message transitionName="flash" class="flashpool"></flash-message>
    <!-- Email -->
    <b-form-group label="Email :" label-for="email">
      <b-form-input
        id="email"
        v-model="form.email"
        type="email"
        required
        placeholder="Exemple : john.doe@email.com"
        :state="emailValidation && emailAvailable"
        @input="emailAvailable = true"
      ></b-form-input>
      <b-form-invalid-feedback v-if="!emailAvailable">Cette adresse mail n'est pas disponible</b-form-invalid-feedback>
    </b-form-group>

    <!-- Nom -->
    <b-form-group label="Nom :" label-for="nom">
      <b-form-input
        id="nom"
        v-model="form.nom"
        required
        placeholder="Exemple : Doe"
        :state="lastNameValidation"
      ></b-form-input>
    </b-form-group>

    <!-- Prénom -->
    <b-form-group label="Prénom :" label-for="prenom">
      <b-form-input
        id="prenom"
        v-model="form.prenom"
        required
        placeholder="Exemple : John"
        :state="firstNameValidation"
      ></b-form-input>
    </b-form-group>

    <!-- Téléphone -->
    <b-form-group label="N° Téléphone :" label-for="telephone">
      <b-form-input
        id="telephone"
        v-model="form.telephone"
        required
        placeholder="Exemple : 0612345678"
        :state="phoneValidation"
      ></b-form-input>
    </b-form-group>
  </b-form>
</template>

<script>
// RFC2822 email validation pattern
const emailPattern = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
const namePattern = /(-?([a-zA-Z].\s)?([a-zA-Z][a-z]+)\s?)+([a-zA-Z]'([a-zA-Z][a-z]+))?/;
const phonePattern = /^\d{10}$/;

export default {
  name: "usagers-form",
  props: {
    emailAvailable: Boolean,
    form: Object
  },

  computed: {
    emailValidation() {
      return emailPattern.test(this.form.email);
    },
    lastNameValidation() {
      return namePattern.test(this.form.nom);
    },
    firstNameValidation() {
      return namePattern.test(this.form.prenom);
    },
    phoneValidation() {
      return phonePattern.test(this.form.telephone);
    },
    validated() {
      return (
        this.emailValidation &&
        this.lastNameValidation &&
        this.firstNameValidation &&
        this.phoneValidation
      );
    }
  }
};
</script>