<template>
  <div class="d-flex justify-content-around">
    <div v-for="usager in usagers" :key="usagers.indexOf(usager)">
      <b-card :title="usager.prenom + ' ' + usager.nom">
        <b-card-text>Nom : {{ usager.nom }}</b-card-text>
        <b-card-text>Prénom : {{ usager.prenom }}</b-card-text>
        <b-card-text>Email : {{ usager.email }}</b-card-text>
        <b-card-text>N° téléphone : {{ usager.telephone }}</b-card-text>
        <b-button
          @click="$root.$emit('usagers-on-edit', usager)"
          class="mr-4"
          variant="primary"
        >Modifier</b-button>
        <b-button variant="outline-danger" @click="destroy(usager.id)">Supprimer</b-button>
      </b-card>
    </div>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  name: "usagers-list",

  props: ["uri"],

  data() {
    return {
      usagers: [],
      errors: []
    };
  },

  created() {
    this.$root.$on("usagers-list-updated", this.pull);
    this.pull();
  },

  methods: {
    pull() {
      Axios.get(this.$parent.endpoint)
        .then(response => (this.usagers = response.data))
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Impossible d'accèder aux informations: ${e.response.data}`)
        });
    },

    destroy(id) {
      Axios.delete(`${this.$parent.endpoint}/${id}`)
        .then(() => {
          this.flashSuccess('Usager supprimé !');
          this.pull();
        })
        .catch((e) => {
          this.flashError(`Erreur lors de la suppression: ${e.response.data}`)
          this.errors.push(e)
        });
    }
  }
};
</script>