<template>
  <div class="container-fluid">
    <b-button v-b-modal.usagers-add-modal variant="primary">
      Créer un nouvel usager
      <i class="fas fa-user-plus ml-1"></i>
    </b-button>

    <b-modal
      id="usagers-add-modal"
      title="Créer un usager"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="create"
    >
      <usagers-form :form="form" :email-available="emailAvailable" ref="usagersForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import UsagersForm from "./UsagersForm";

export default {
  name: "usagers-create",
  components: { UsagersForm },

  data() {
    return {
      errors: [],
      form: { email: "", nom: "", prenom: "", telephone: "" },
      emailAvailable: true
    };
  },

  methods: {
    create(event) {
      event.preventDefault();

      if (!this.$refs["usagersForm"].validated) {
        return;
      }

      Axios.post(this.$parent.endpoint, this.form)
        .then(() => {
          this.flashSuccess('Usager ajouté !');
          this.$bvModal.hide("usagers-add-modal");
          this.$root.$emit("usagers-list-updated");
        })
        .catch((e) => {
          if (e.response.status === 409) {
            this.emailAvailable = false;
            this.flashError('Email non disponible !');
          }
          this.errors.push(e);
          this.flashError(`Erreur lors de l'enregistrement de l'usager: ${e.response.data}`)
        });
    }
  }
};
</script>