<template>
  <div id="app">
    <header class="mb-5">
      <navbar />
    </header>
    <main class="container">
      <flash-message transitionName="flash" class="flashpool"></flash-message>
      <router-view></router-view>
    </main>
    <footer></footer>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
export default {
  components: { Navbar }
};
</script>
