<template>
    <div>
        <livres-create />
        <hr />
        <magazines-create />
        <hr />
        <oeuvres-list />

        <livres-edit />
        <magazines-edit />
        <ExemplairesCreate />
    </div>
</template>

<script>
import LivresCreate from "./livres/LivresCreate";
import LivresEdit from "./livres/LivresEdit";
import MagazinesCreate from "./magazines/MagazinesCreate";
import MagazinesEdit from "./magazines/MagazinesEdit";

import ExemplairesCreate from "./exemplaires/ExemplairesCreate";

import OeuvresList from "./OeuvresList";

const host = process.env.VUE_APP_API_HOST;
const port = process.env.VUE_APP_API_PORT;

export default {
    data() {
        return {
            endpoint: `${host}:${port}/oeuvres`,
            auteursEndpoint: `${host}:${port}/auteurs`,
            exemplairesEndpoint: `${host}:${port}/exemplaires`
        };
    },
    components: {
        LivresCreate,
        LivresEdit,
        MagazinesCreate,
        MagazinesEdit,
        OeuvresList,
        ExemplairesCreate
    }
};
</script>