<template>
    <div class="d-flex justify-content-around">

        <b-table :items="oeuvres" :fields="fields">
            <template v-slot:cell(type)="row">
                {{ row.item.type }}
            </template>

            <!-- ACTIONS BUTTONS -->
            <template v-slot:cell(actions)="row">
                <b-button @click="row.toggleDetails" class="mr-4">
                    {{ row.detailsShowing ? 'Masquer' : 'Afficher'}} Exemplaires
                </b-button>
                <b-button
                        @click="$root.$emit('oeuvres-on-edit', row.item)"
                        class="mr-4"
                        variant="primary"
                >Modifier</b-button>
                <b-button variant="outline-danger" @click="destroy(row.item.id)">Supprimer</b-button>
            </template>

            <!-- EXEMPLAIRES -->
            <template v-slot:row-details="row">
                <b-card>
                    <b-row class="mb-2">
                        <b-button
                                @click="$root.$emit('exemplaires-add-modal', row.item.id)"
                                class="mr-4"
                                variant="primary"
                        >Ajouter des exemplaires</b-button>
                    </b-row>
                    <b-row class="mb-2">
                        <b-table :items="row.item.exemplaires" :fields="['id', 'etat', 'actions']">
                            <template v-slot:cell(actions)="row">
                                <b-button variant="outline-danger" @click="destroyExemplaire(row.item.id)">Supprimer</b-button>
                            </template>
                        </b-table>
                    </b-row>
                </b-card>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Axios from "axios";

    export default {
        name: "oeuvres-list",
        props: ["uri"],

        data() {
            return {
                oeuvres: [],
                fields: ["titre", 'type', 'actions'],
                errors: []
            };
        },

        created() {
            this.$root.$on("oeuvres-list-updated", this.pull);
            this.pull();
        },

        methods: {
            pull() {
                Axios.get(this.$parent.endpoint)
                    .then(response => (this.completeData(response.data)))
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Impossible d'accèder aux informations: ${e}`)
                    });
            },
            completeData(oeuvres){
                oeuvres.forEach((oeuvre) => {
                    if ('numero' in oeuvre){
                        oeuvre.type = "Magazine";
                    } else {
                        oeuvre.type = "Livre";
                    }
                });
                this.oeuvres = oeuvres
            },

            destroy(id) {
                Axios.delete(`${this.$parent.endpoint}/${id}`)
                    .then(() => {
                        this.flashSuccess('Oeuvre supprimée !');
                        this.pull();
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de la suppression de l'oeuvre: ${e}`)
                    });
            },
            destroyExemplaire(id) {
                Axios.delete(`${this.$parent.exemplairesEndpoint}/${id}`)
                    .then(() => {
                        this.flashSuccess('Exemplaire supprimé !');
                        this.pull();
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de la suppression de l'exemplaire: ${e.response.data}`)
                    });
            }
        }
    };
</script>