<template>
  <div class="container-fluid">
    <b-button v-b-modal.auteurs-add-modal variant="primary">
      Créer un nouvel auteur
      <i class="fas fa-user-plus ml-1"></i>
    </b-button>

    <b-modal
      id="auteurs-add-modal"
      title="Créer un auteur"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="create"
    >
      <auteurs-form :form="form" ref="auteursForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import AuteursForm from "./AuteursForm";

export default {
  name: "auteurs-create",
  components: { AuteursForm },

  data() {
    return {
      errors: [],
      form: { nom: "", prenom: "" }
    };
  },

  methods: {
    create(event) {
      event.preventDefault();

      if (!this.$refs["auteursForm"].validated) {
        return;
      }

      Axios.post(this.$parent.endpoint, this.form)
        .then(() => {
          this.flashSuccess("Auteur ajouté !");
          this.$bvModal.hide("auteurs-add-modal");
          this.$root.$emit("auteurs-list-updated");
        })
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Erreur lors de l'enregistrement de l'auteur: ${e.response.data}`)
        });
    }
  }
};
</script>