<template>
  <b-form>
    <flash-message transitionName="flash" class="flashpool"></flash-message>
    <!-- Nom -->
    <b-form-group label="Nom :" label-for="nom">
      <b-form-input
        id="nom"
        v-model="form.nom"
        required
        placeholder="Exemple : Doe"
        :state="lastNameValidation"
      ></b-form-input>
    </b-form-group>

    <!-- Prénom -->
    <b-form-group label="Prénom :" label-for="prenom">
      <b-form-input
        id="prenom"
        v-model="form.prenom"
        required
        placeholder="Exemple : John"
        :state="firstNameValidation"
      ></b-form-input>
    </b-form-group>

  </b-form>
</template>

<script>
// RFC2822 email validation pattern
const stringPattern = /(-?([a-zA-Z].\s)?([a-zA-Z][a-z]+)\s?)+([a-zA-Z]'([a-zA-Z][a-z]+))?/;

export default {
  name: "auteurs-form",
  props: {
    form: Object
  },

  computed: {
    lastNameValidation() {
      return stringPattern.test(this.form.nom);
    },
    firstNameValidation() {
      return stringPattern.test(this.form.prenom);
    },
    validated() {
      return (
        this.lastNameValidation &&
        this.firstNameValidation
      );
    }
  }
};
</script>