<template>
    <div>
        <auteurs-create />
        <hr />
        <auteurs-list />
        <auteurs-edit />
    </div>
</template>

<script>
import AuteursList from "./AuteursList";
import AuteursEdit from "./AuteursEdit";
import AuteursCreate from "./AuteursCreate";

const host = process.env.VUE_APP_API_HOST;
const port = process.env.VUE_APP_API_PORT;

export default {
    data() {
        return {
            endpoint: `${host}:${port}/auteurs`
        };
    },
    components: {
        AuteursCreate,
        AuteursEdit,
        AuteursList
    }
};
</script>