<template>
  <div class="container-fluid">
    <b-modal
      id="auteurs-edit-modal"
      title="Modifier un auteur"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="update"
    >
      <auteurs-form :form="form" ref="auteursForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import AuteursForm from "./AuteursForm";

export default {
  name: "auteurs-edit",
  components: { AuteursForm },

  data() {
    return {
      errors: [],
      form: {},
      auteurId: ""
    };
  },

  created() {
    this.$root.$on("auteurs-on-edit", this.show);
  },

  methods: {
    show(data) {
      this.form = data;
      this.auteurId = data.id
      this.$bvModal.show("auteurs-edit-modal");
    },

    update(event) {
      event.preventDefault();

      if (!this.$refs["auteursForm"].validated) {
        return;
      }

      Axios.put(`${this.$parent.endpoint}/${this.auteurId}`, this.form)
        .then(() => {
          this.flashInfo("Modification effectuée !");
          this.$bvModal.hide("auteurs-edit-modal");
          this.$root.$emit("auteurs-list-updated");
        })
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Erreur lors de la modification de l'auteur: ${e.response.data}`)
        });
    }
  }
};
</script>