<template>
    <div class="d-flex justify-content-around">

        <b-table :items="auteurs" :fields="fields" striped>
            <template v-slot:cell(actions)="row">
                <b-button
                        @click="$root.$emit('auteurs-on-edit', row.item)"
                        class="mr-4"
                        variant="primary"
                >Modifier</b-button>
                <b-button variant="outline-danger" @click="destroy(row.item.id)">Supprimer</b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Axios from "axios";

    export default {
        name: "auteurs-list",

        props: ["uri"],

        data() {
            return {
                fields: ['nom', 'prenom', "actions"],
                auteurs: [],
                errors: []
            };
        },

        created() {
            this.$root.$on("auteurs-list-updated", this.pull);
            this.pull();
        },

        methods: {
            pull() {
                Axios.get(this.$parent.endpoint)
                    .then(response => (this.auteurs = response.data))
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Impossible d'accèder aux informations: ${e.response.data}`)
                    });
            },

            destroy(id) {
                Axios.delete(`${this.$parent.endpoint}/${id}`)
                    .then(() => {
                        this.flashSuccess("Element supprimé !");
                        this.pull();
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de la suppression de l'auteur: ${e.response.data}`)
                    });
            }
        }
    };
</script>