<template>
  <b-form>
    <flash-message transitionName="flash" class="flashpool"></flash-message>
    <!-- Oeuvre -->
      <b-form-group label="Oeuvre :" label-for="oeuvre">
        <b-form-select
                id="idOeuvre"
                :options="oeuvres"
                required
                v-model="form.idOeuvre"
        >
        </b-form-select>
      </b-form-group>

      <!-- Usager -->
      <b-form-group label="Usager :" label-for="usager">
        <b-form-select
                id="idUsager"
                :options="usagers"
                required
                v-model="form.idUsager"
        >
        </b-form-select>
      </b-form-group>

      <!-- DateDebut -->
      <b-form-group label="Date de début :" label-for="dateDebut">
        <b-form-input
                :id="dateDebut"
                :type="'date'"
                required
                v-model="form.dateDebut"
        >
        </b-form-input>
      </b-form-group>

      <!-- DateFin -->
      <b-form-group label="Date de fin :" label-for="dateFin">
        <b-form-input
                :id="dateFin"
                :type="'date'"
                required
                v-model="form.dateFin"
        >
        </b-form-input>
      </b-form-group>
  </b-form>
</template>

<script>

export default {
  name: "emprunts-form",
  props: {
    form: Object,
    errors: [],
    oeuvres: {},
    usagers: {}
  },

  computed: {
    validated() {
      return true;
    }
  }
};
</script>