<template>
  <div class="container-fluid">
    <b-button v-b-modal.emprunts-add-modal variant="primary">
      Créer un nouvel emprunt
      <i class="fas fa-user-plus ml-1"></i>
    </b-button>

    <b-modal
      id="emprunts-add-modal"
      title="Créer un emprunt"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="create"
    >
      <emprunts-form :oeuvres="oeuvres" :usagers="usagers" :form="form" ref="empruntsForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import EmpruntsForm from "./EmpruntsForm";

export default {
  name: "emprunts-create",
  components: { EmpruntsForm },

  data() {
    return {
      errors: [],
      form: { idOeuvre: "", idUsager: "", dateDebut: "", dateFin: "" },
      usagers: [],
      oeuvres: []
    };
  },
  mounted(){
    this.getUsagers();
    this.getOeuvres();
  },
  methods: {
    getUsagers() {
      Axios.get(this.$parent.usagersEndpoint)
              .then(response => {
                response.data.forEach(usager => {
                  this.usagers.push({
                    value: usager.id,
                    text: `${usager.prenom} ${usager.nom}`
                  })
                })
              })
              .catch(e => this.errors.push(e));
    },
    getOeuvres() {
      Axios.get(this.$parent.oeuvresEndpoint)
              .then(response => {
                response.data.forEach(oeuvre => {
                  let text = "";
                  if ('numero' in oeuvre){
                    text = `Magazine : N°${oeuvre.numero} ${oeuvre.titre}`;
                  } else {
                    text = `Livre : ${oeuvre.titre}`;
                  }
                  this.oeuvres.push({
                    value: oeuvre.id,
                    text: text
                  })
                })
              })
              .catch(e => this.errors.push(e));
    },
    create(event) {
      event.preventDefault();

      if (!this.$refs["empruntsForm"].validated) {
        return;
      }

      Axios.post(this.$parent.endpoint, this.form)
        .then(() => {
          this.flashSuccess("Emprunt enregistré !")
          this.$bvModal.hide("emprunts-add-modal");
          this.$root.$emit("emprunts-list-updated");
        })
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Erreur lors de l'enregistrement de l'emprunt: ${e.response.data}`)
        });
    }
  }
};
</script>