<template>
    <div>
        <emprunts-create />
        <hr />
        <emprunts-list />
        <emprunts-return />
    </div>
</template>

<script>
import EmpruntsList from "./EmpruntsList";
import EmpruntsCreate from "./EmpruntsCreate";
import EmpruntsReturn from "./EmpruntsReturn";

const host = process.env.VUE_APP_API_HOST;
const port = process.env.VUE_APP_API_PORT;

export default {
    data() {
        return {
            endpoint: `${host}:${port}/emprunts`,
            exemplairesEndpoint: `${host}:${port}/exemplaires`,
            usagersEndpoint: `${host}:${port}/usagers`,
            oeuvresEndpoint: `${host}:${port}/oeuvres`
        };
    },
    components: {
        EmpruntsReturn,
        EmpruntsCreate,
        EmpruntsList
    }
};
</script>