<template>
    <div class="container-fluid">
        <b-modal
                id="emprunts-return-modal"
                title="Rendre un ouvrage"
                ok-title="Enregistrer"
                ok-variant="success"
                cancel-title="Annuler"
                @ok="create"
        >
            <emprunts-return-form :form="form" ref="empruntsReturnForm" />
        </b-modal>
    </div>
</template>

<script>
    import Axios from "axios";
    import EmpruntsReturnForm from "./EmpruntsReturnForm";

    export default {
        name: "emprunts-return",
        components: { EmpruntsReturnForm },

        data() {
            return {
                errors: [],
                form: { etat: '', idOeuvre: '', idUsager: '' }
            };
        },
        created() {
            this.$root.$on("emprunts-return-modal", this.show);
        },

        methods: {
            show(data) {
                this.form.idEmprunt = data.id
                this.form.exemplaire = data.exemplaire;
                this.$bvModal.show("emprunts-return-modal");
            },
            create(event) {
                event.preventDefault();

                if (!this.$refs["empruntsReturnForm"].validated) {
                    return;
                }

                //Update exemplaire
                Axios.put(`${this.$parent.exemplairesEndpoint}/${this.form.exemplaire.id}`, this.form.exemplaire)
                    .then(() => {
                        //Delete Emprunt
                        Axios.delete(`${this.$parent.endpoint}/${this.form.idEmprunt}`)
                            .then(() => {
                                this.flashSuccess("Emprunt terminé !");
                                this.$bvModal.hide("emprunts-return-modal");
                                this.$root.$emit("emprunts-list-updated");
                            })
                            .catch((e) => {
                                this.errors.push(e);
                                this.flashError(`Erreur lors de la suppression de l'emprunt: ${e.response.data}`)
                            });
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de la modification de l'exemplaire: ${e.response.data}`)
                    });



            }
        }
    };
</script>