<template>
    <div class="d-flex justify-content-around">

        <b-table :items="emprunts" :fields="fields" striped>

            <template v-slot:cell(Oeuvre)="row">
                {{ `${row.item.exemplaire.oeuvre.type} : ${row.item.exemplaire.oeuvre.titre}` }}
            </template>
            <template v-slot:cell(Usager)="row">
                {{ `${row.item.usager.prenom} ${row.item.usager.nom} ` }}
            </template>
            <template v-slot:cell(Debut)="row">
                {{ row.item.dateDebut }}
            </template>
            <template v-slot:cell(Fin)="row">
                {{ row.item.dateFin }}
            </template>
            <template v-slot:cell(Retard)="row">
                {{ row.item.retard }}
            </template>

            <template v-slot:cell(Actions)="row">
                <b-button
                        @click="$root.$emit('emprunts-return-modal', row.item)"
                        class="mr-4"
                        variant="primary"
                >Rendre</b-button>
            </template>
        </b-table>
    </div>
</template>



<script>
    import Axios from "axios";

    export default {
        name: "emprunts-list",

        props: ["uri"],

        data() {
            return {
                errors: [],
                fields: ['Oeuvre', 'Usager', 'Debut', 'Fin', 'Retard', 'Actions'],
                emprunts: Object
            };
        },

        created() {
            this.$root.$on("emprunts-list-updated", this.pull);
            this.pull();
        },

        methods: {
            pull() {
                Axios.get(this.$parent.endpoint)
                    .then(response => (this.emprunts = response.data))
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Impossible d'accèder aux informations: ${e.response.data}`)
                    });
            }
        }
    };
</script>