<template>
    <b-form>
        <flash-message transitionName="flash" class="flashpool"></flash-message>
        <!-- Oeuvre -->
        <b-form-group label="Etat :" label-for="etat">
            <b-form-select
                    id="etat"
                    :options="options"
                    required
                    v-model="form.exemplaire.etat"
            >
            </b-form-select>
        </b-form-group>
    </b-form>
</template>

<script>

    export default {
        name: "emprunts-return-form",
        props: {
            form: Object,
            errors: []
        },
        data() {
            return {
                options: ["BON", "MAUVAIS"]
            };
        },

        computed: {
            validated() {
                return true;
            }
        }
    };
</script>