<template>
    <div class="container-fluid">
        <b-modal
                id="exemplaires-add-modal"
                title="Ajouter des exemplaires"
                ok-title="Enregistrer"
                ok-variant="success"
                cancel-title="Annuler"
                @ok="create"
        >
            <exemplaires-form :form="form" r ref="exemplairesForm" />
        </b-modal>
    </div>
</template>

<script>
    import Axios from "axios";
    import ExemplairesForm from "./ExemplairesForm";

    export default {
        name: "exemplaires-create",
        components: { ExemplairesForm },

        data() {
            return {
                errors: [],
                form: { quantite: "", idOeuvre: ""},
                oeuvre: {}
            };
        },
        created() {
            this.$root.$on("exemplaires-add-modal", this.show);
        },

        methods: {
            show(id) {
                this.form.idOeuvre = id
                this.$bvModal.show("exemplaires-add-modal");
            },
            create(event) {
                event.preventDefault();

                if (!this.$refs["exemplairesForm"].validated) {
                    return;
                }

                Axios.post(this.$parent.exemplairesEndpoint, this.form)
                    .then(() => {
                        this.flashSuccess('Exemplaire ajouté(s) !');
                        this.$bvModal.hide("exemplaires-add-modal");
                        this.$root.$emit("oeuvres-list-updated");
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de l'enregistrement de l'exemplaire: ${e.response.data}`)
                    });
            }
        }
    };


</script>

<style scoped>

</style>