<template>
    <b-form>
        <flash-message transitionName="flash" class="flashpool"></flash-message>
        <!-- Numero -->
        <b-form-group label="Nombre d'exemplaires :" label-for="numero">
            <b-form-input
                    id="numero"
                    v-model="form.quantite"
                    required
                    placeholder="Exemple : 1"
                    :state="numValidation"
            ></b-form-input>
        </b-form-group>
    </b-form>
</template>

<script>
    const intPattern = /([0-9]+)/;

    export default {
        name: "exemplaires-form",
        props: {
            errors: [],
            form: {}
        },

        computed: {
            numValidation() {
                return intPattern.test(this.form.quantite);
            },
            validated() {
                return (
                    this.numValidation
                );
            }
        }
    };
</script>