<template>
  <div class="d-flex justify-content-between flex-wrap">
      <b-card title="Usagers">
        <b-card-text>Gestion des usagers</b-card-text>
        <b-button href="/usagers" variant="primary">Ouvrir</b-button>
      </b-card>
      <b-card title="Oeuvres">
        <b-card-text>Gestion des oeuvres</b-card-text>
        <b-button href="/oeuvres" variant="primary">Ouvrir</b-button>
      </b-card>
      <b-card title="Réservations">
        <b-card-text>Gestion des réservations</b-card-text>
        <b-button href="/reservations" variant="primary">Ouvrir</b-button>
      </b-card>
      <b-card title="Emprunts">
        <b-card-text>Gestion des emprunts</b-card-text>
        <b-button href="/emprunts" variant="primary">Ouvrir</b-button>
      </b-card>
  </div>
</template>

<script>
export default {
  name: "home",

  data() {
    return {
      errors: []
    };
  }
};
</script>

<style>
.card { margin-bottom: 2em; }
</style>