<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="/">
        <i class="fas fa-book"></i> Bibliothèque
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="'usagers'" right>Usagers</b-nav-item>
          <b-nav-item :to="'oeuvres'" right>Oeuvres</b-nav-item>
          <b-nav-item :to="'auteurs'" right>Auteurs</b-nav-item>
          <b-nav-item :to="'reservations'" right>Réservations</b-nav-item>
          <b-nav-item :to="'emprunts'" right>Emprunts</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "navbar"
};
</script>