<template>
  <div class="container-fluid">
    <b-modal
      id="livres-edit-modal"
      title="Modifier un livre"
      ok-title="Enregistrer"
      ok-variant="success"
      cancel-title="Annuler"
      @ok="update"
    >
      <livres-form :form="form" ref="LivresForm" />
    </b-modal>
  </div>
</template>

<script>
import Axios from "axios";
import LivresForm from "./LivresForm";

export default {
  name: "oeuvres-edit",
  components: { LivresForm },

  data() {
    return {
      errors: [],
      form: {},
    };
  },

  created() {
    this.$root.$on("oeuvres-on-edit", this.show);
  },

  methods: {
    show(data) {
      if (data.type === "Livre"){
        this.form = data;
        this.$bvModal.show("livres-edit-modal");
      }
    },

    update(event) {
      event.preventDefault();

      if (!this.$refs["livresFrom"].validated) {
        return;
      }

      Axios.put(`${this.$parent.endpoint}/${this.form.id}`, this.form)
        .then(() => {
          this.flashInfo('Livre modifié !');
          this.$bvModal.hide("livres-edit-modal");
          this.$root.$emit("oeuvres-list-updated");
        })
        .catch((e) => {
          this.errors.push(e);
          this.flashError(`Erreur lors de la modification du livre: ${e.response.data}`)
        });
    }
  }
};
</script>