<template>
    <div class="container-fluid">
        <b-button v-b-modal.livres-add-modal variant="primary">
            Créer un nouveau livre
            <i class="fas fa-book ml-1"></i>
        </b-button>

        <b-modal
                id="livres-add-modal"
                title="Créer un livre"
                ok-title="Enregistrer"
                ok-variant="success"
                cancel-title="Annuler"
                @ok="create"
        >
            <livres-form :options="options" :form="form" ref="livresForm" />
        </b-modal>
    </div>
</template>

<script>
    import Axios from "axios";
    import LivresForm from "./LivresForm";

    export default {
        name: "livresCreate",
        components: { LivresForm },

        data() {
            return {
                errors: [],
                form: { type: "Livre", titre: "", editeur: "", auteurs: []},
                options: []
            };
        },
        mounted(){
            this.getAuteurs();
        },
        methods: {
            getAuteurs() {
                Axios.get(this.$parent.auteursEndpoint)
                    .then(response => {
                        response.data.forEach(auteur => {
                            this.options.push({
                                value: auteur,
                                text: `${auteur.prenom} ${auteur.nom}`
                            })
                        })
                    })
                    .catch(e => this.errors.push(e));
            },
            create(event) {
                event.preventDefault();

                if (!this.$refs["livresForm"].validated) {
                    return;
                }

                Axios.post(this.$parent.endpoint, this.form)
                    .then(() => {
                        this.flashSuccess('Livre ajouté !');
                        this.$bvModal.hide("livres-add-modal");
                        this.$root.$emit("oeuvres-list-updated");
                    })
                    .catch((e) => {
                        this.errors.push(e);
                        this.flashError(`Erreur lors de l'enregistrement du livre: ${e.response.data}`)
                    });
            }
        }
    };


</script>

<style scoped>

</style>