<template>
    <b-form>
        <flash-message transitionName="flash" class="flashpool"></flash-message>
        <!-- Nom -->
        <b-form-group label="Titre :" label-for="titre">
            <b-form-input
                    id="titre"
                    v-model="form.titre"
                    required
                    placeholder="Exemple : Titre"
                    :state="titreValidation"
            ></b-form-input>
        </b-form-group>

        <!-- Editeur -->
        <b-form-group label="Editeur :" label-for="editeur">
            <b-form-input
                    id="editeur"
                    v-model="form.editeur"
                    required
                    placeholder="Exemple : Editeur"
                    :state="editeurValidation"
            ></b-form-input>
        </b-form-group>

        <!-- Auteur -->
        <b-form-group label="Auteur :" label-for="auteur">
            <b-form-select
                    id="auteur"
                    v-model="form.auteurs"
                    :options="options"
                    required
                    multiple
            >
            </b-form-select>
        </b-form-group>

    </b-form>
</template>

<script>
    const stringPattern = /(-?([a-zA-Z].\s)?([a-zA-Z][a-z]+)\s?)+([a-zA-Z]'([a-zA-Z][a-z]+))?/;

    export default {
        name: "livres-form",
        props: {
            form: {},
            errors: [],
            options: {}
        },
        computed: {
            titreValidation() {
                return stringPattern.test(this.form.titre);
            },
            editeurValidation(){
                return stringPattern.test(this.form.editeur);
            },
            validated() {
                return (
                    this.titreValidation &&
                    this.editeurValidation
                );
            }
        }
    };
</script>